.dropdown-menu {
  position: static;
  display: block;
  width: auto;
  margin-top: 0.5rem;
}

.dropdown-menu-macos {
  display: grid;
  gap: .25rem;
  padding: .5rem;
  border-radius: .25rem;
}
.dropdown-menu-macos .dropdown-item {
  border-radius: .25rem;
}

.fontNav a {
  font-size: 18px;
  padding-right: 50px;
  padding-left: 30px;
  font-weight: 600;
}

.name-product {
  font-size: 14px;
}