body {
	background-image: url("../img/pattern.jpg");
	margin:0;
	padding: 0;
}

header {
	background-color: #fff;
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
}

header nav {
	float: right;
}
    
header nav ul {
    list-style: none;
    display: inline-table;
}

header nav ul li{
    float: left;
    margin-right: 30px;
}

header nav ul li a{
     display: block;
     color: #fff;
     text-decoration: none;
}

section {
	background-color: #fff;
	margin: 5% 25% 30px 25%;
	padding: 20px;
}

section h1 {
	text-align: center;
}

article {
	border-bottom: solid 2px #000;
}

article a {
	text-decoration: none;
}

footer {
	background-color: #000;
	height: 60px;
}

footer h5 {
	padding: 20px;
	color: #fff;
	text-align: center;
	
}